/* Estilos e variáveis globais de tipografia da aplicação */

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body, body *{
    font-family: 'Poppins', system-ui, sans-serif;
}

:root{
    /* Variáveis para peso de texto */
    --texto-regular: 400;
    --texto-medio: 500;
    --texto-negrito: 600;

    /* Variáveis para tamanho de texto */
    --texto-12: .75rem;
    --texto-16: 1rem;
    --texto-20: 1.25rem;
    --texto-24: 1.5rem;
}

b{
    font-weight: var(--texto-medio);
}