/* Estilização dos botões da aplicação */

.botao{
    background-color: var(--cor-azul);
    border: none;
    border-radius: .5rem;
    color: var(--cor-branco);
    cursor: pointer;
    font-size: .75rem;
    font-weight: var(--texto-medio);
    padding-block: .5rem;
    padding-inline: 2rem;
    transition: .5s;
    width: fit-content;

    &:hover{
        background-color: var(--cor-azul-hover);
    }
}