/* Estilização dos botões da aplicação */

.botao{
    background-color: var(--cor-primaria);
    border: none;
    border-radius: .5rem;
    color: var(--cor-branco);
    cursor: pointer;
    font-size: .75rem;
    font-weight: var(--texto-medio);
    padding-block: .5rem;
    padding-inline: 2rem;
    width: fit-content;
}