/* Estilização do cabeçalho da aplicação */

.cabecalho{
    align-items: center;
    background-color: var(--cor-preto-25);
    border-bottom: 1px solid var(--cor-cinza-80);
    display: flex;
    height: 4rem;
    justify-content: space-between;
    padding-inline: 2rem;
}

    .cabecalho__titulo{
        align-items: center;
        color: var(--cor-branco);
        display: flex;
        font-size: 1.25rem;
        font-weight: var(--texto-regular);
        gap: .5rem;
    }

    .cabecalho__logo{
        height: 2rem;
        display: none;
    }