/* Estilização do cabeçalho da aplicação */

.cabecalho{
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-bottom: 1px solid hsl(0, 0%, 80%);
    display: flex;
    height: 64px;
    justify-content: space-between;
    padding-inline: 2rem;
}

    .cabecalho__titulo{
        font-size: 1.25rem;
        font-weight: 500;
    }

    .cabecalho__logo{
        height: 2rem;
        display: none;
    }