/* Estilização da Sidebar */

.sidebar{
    background-color: var(--cor-surface);
    box-shadow: 2px 0 4px #c1c1c1;
    color: var(--cor-preto-25);
    width: 240px;

    & li, & summary{
        align-items: center;
        display: flex;
        font-size: 1rem;
        gap: .5rem;
        padding: 1rem;
        transition: .5s;

        &.secao{
            color: var(--cor-cinza-70);
            font-weight: var(--texto-medio);
            text-transform: uppercase;
        }

        &:is(li){
            cursor: pointer;
        }

        &:not(.secao):hover{
            background-color: var(--cor-cinza-95);
            color: var(--cor-preto);

            & .icone path{
                fill: var(--cor-preto);
            }
        }

        & .icone {
            height: auto;
            width: 1rem;
    
            & path{
                fill: var(--cor-preto-25);
                transition: .5s;
            }
        }
    }

    & .ativo{
        border-left: 2px solid;
    }
}

.navegacao__dropdown{
    border-bottom: 1px solid var(--cor-cinza-90);

    & summary{
        justify-content: space-between;

        & .dropdown__titulo{
            align-items: center;
            display: flex;
            gap: .5rem;
        }

        &::after{
            aspect-ratio: 1;
            background-image: url('./navigate_next.svg');
            background-size: cover;
            content: '';
            display: block;
            width: 1rem;
            transition: .5s;
        }
    }

    &[open]{
        background-color: var(--cor-cinza-95);

        & summary{
            &::after{
                transform: rotate(90deg);
            }

            &:hover{
                background-color: var(--cor-cinza-95);
            }
        }

        & li:hover{
            background-color: var(--cor-cinza-90);
        }
    }
    
}