/* Estilos globais da aplicação */

html, body{
    height: 100%;
}

body{
    background-color: var(--cor-fundo);
}

div:has(.containerApp){
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.containerApp{
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

main{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 1.5rem;
    padding: 1.5rem;
}